.currentSummary {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.currentSummary h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c3e50;
}

.mainIcon {
  width: 150px;
  height: 150px;
  margin: -20px 0 -30px 0;
}

.mainTemp {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
}

.mainDescription {
  font-size: 1.5rem;
  color: #555;
  text-transform: capitalize;
  margin-top: -10px;
}