.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard h2 {
  color: #003391;
  border-bottom: 2px solid #00eeff;
  padding-bottom: 5px;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}